@use 'sass:color';
@import '@/theme.scss';

.memory-block.component {
  display: flex;
  color: color.adjust($color-bg, $lightness: +40%);
}

.memory-block.component.undefined {
  color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
