@use 'sass:color';
@import '@/theme.scss';

.memory-block.component {
  display: flex;

  >.group {
    display: flex;
    flex-direction: row;
  }

  .byte {
    cursor: pointer;
    font-size: 0.8rem;
    border-style: dashed;
    border-width: 0px 1px 1px 0px;
    padding: 0.25rem;
    transition: border-color .2s ease-in-out;
  }
}

.memory-sector.component:not(.empty) {
  .memory-block.component .byte {
    border-style: solid;
  }

  &:hover {
    .memory-block.component .byte {
      border-color: color.adjust($color-bg, $lightness: +12%);
    }
  }
}

.memory-block.component {
  color: color.adjust($color-bg, $lightness: +40%);

  >.group:hover {
    background-color: color.adjust($color-bg, $lightness: +1%);
  }

  .byte {
    border-color: color.adjust($color-bg, $lightness: +5%);

    &.focused {
      animation: byte-glows .5s infinite alternate;
      z-index: 1;
    }

    &:hover {
      background-color: color.adjust($color-bg, $lightness: +5%);
      font-weight: 600;
    }
  }
}

@keyframes byte-glows {
  $color: color.adjust($color-4, $lightness: -60%);

  0%,
  100% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 0 .6rem color.adjust($color, $lightness: +10%);
  }
}

.memory-block.component:not(.undefined) {
  $highlight-color: $color-1;
  $lightness: -30%;

  >.group:hover .byte {
    border-bottom-color: color.adjust($highlight-color, $lightness: $lightness) !important;

    &:not(:last-child) {
      border-right-color: color.adjust($highlight-color, $lightness: $lightness);
    }
  }
}

.memory-block.component.undefined {
  color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.memory-block.component.trailer {
  .key-a {
    color: color.adjust($color-3, $hue: -35deg);
  }

  .access-bits {
    color: color.adjust($color-3, $hue: 0deg);
  }

  .user-byte {
    color: $color-4;
  }

  .key-b {
    color: color.adjust($color-3, $hue: +35deg);
  }
}

.memory-block.component.value {
  .value {
    color: $color-1;
  }

  .value-inverted {
    color: color.adjust($color-1, $blackness: 30%);
  }

  .addr {
    color: $color-2;
  }

  .addr-inverted {
    color: color.adjust($color-2, $blackness: 30%);
  }
}

.memory-block.component.data {
  color: $color-4;
}

.memory-block.component.manufacturer {
  .uid {
    color: $color-5;
  }

  .bcc {
    color: color.adjust($color-5, $hue: -40deg);
  }

  .sak {
    color: color.adjust($color-5, $hue: -70deg);
  }

  .atqa {
    color: color.adjust($color-5, $hue: -100deg);
  }

  .manufacturer {
    color: color.adjust($color-5, $hue: -130deg);
  }
}
