@use 'sass:color';
@import '@/theme.scss';

.component.system-info {
  flex-shrink: 0;
  font-size: 0.7rem;

  .ping {
    display: flex;

    .latency {
      color: color.adjust($color-fg, $lightness: -40%);
    }

    .status {
      margin-left: 0.3rem;
      display: inline-block;
      line-height: 0.5rem;

      &.undefined {
        color: color.adjust($color-fg, $lightness: -40%);
      }

      &.pinged {
        color: color.adjust($color-4, $lightness: -40%);
      }

      &.ponged {
        color: $color-3;
      }

      &.miss {
        color: color.adjust($color-5, $lightness: -20%);
      }
    }
  }
}
