@use 'sass:color';
@import '@/theme.scss';

.Block {
  display: flex;
  color: color.adjust($color-bg, $lightness: +40%);
}

.Block.undefined {
  color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
