@import '@/theme.scss';

$transition: .3s ease-in-out;

.memory {
  display: flex;

  .layout {
    display: flex;
    flex-direction: column-reverse;

    .sector {
      display: flex;
      flex-direction: row;
      justify-content: right;

      .meta {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        font-weight: 600;
        color: $color-4;
        transition: color $transition;

        .offset {
          padding-right: 0.3rem;
        }
      }

      .blocks {
        display: flex;
        flex-direction: column-reverse;
        border-style: solid;
        border-color: rgba($color-fg, .2);
        border-width: 2px 1px 1px 1px;
        transition: border $transition, box-shadow $transition;

        .block {
          color: rgba($color-fg, 0.4);

          .bytes {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .byte {
              cursor: pointer;
              font-size: 0.8rem;
              border-style: dashed;
              border-color: rgba($color-fg, .1);
              border-width: 0 1px 1px 0;
              padding: 0.3rem;
            }
          }

          &.empty {
            color: transparent;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
          }

          &:not(.empty) {
            color: $color-4;

            .bytes {
              .byte {
                &:hover {
                  font-weight: 600;
                }
              }

              &:hover {
                background-color: rgba($color-fg, .05);
              }
            }
          }
        }
      }

      &:not(.empty) {
        .blocks {
          .block .bytes .byte {
            border-style: solid;
          }

          &:hover {
            .block .bytes .byte {
              border-color: rgba($color-fg, .15);
            }
          }
        }
      }

      &:hover {
        .meta {
          color: $color-fg;
        }

        .blocks {
          border-color: rgba($color-fg, .6) !important;
          box-shadow: 0 0 1rem rgba($color-fg, .1);
        }
      }
    }
  }
}
