@use 'sass:color';
@import '@/theme.scss';

.dashboard.component {
  margin: 1rem;
}

.dashboard.component .scene.picc-waiter {
  .message {
    font-size: 1.3rem;
    color: $color-4;
  }
}

.dashboard.component .scene.main {
  >.header {
    display: flex;
    justify-content: space-between;

    .meta {
      .name {
        color: rgba($color-fg, 0.5);
      }

      .value {
        font-weight: 600;
        color: $color-5;
      }
    }

    .picc {
      .general {
        .type {
          font-size: 1.5rem;
          color: $color-3;
          font-weight: 600;
        }

        .metas {
          display: flex;
          margin-top: .5rem;

          .meta {
            &:not(:last-child) {
              margin-right: 1rem;
            }

            .name {
              margin-right: 1rem;
            }
          }
        }
      }

      .memory {
        margin-top: 0.5rem;
        color: rgba($color-fg, 0.5);
        font-size: 0.8rem;
      }
    }
  }

  >.main {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;

    >.section {
      &:not(:last-child) {
        margin-right: 1rem;
      }

      .info-panel {
        position: sticky;
        top: 1rem;
        color: $color-4;

        p.hint {
          color: $color-1;
          font-size: .9rem;
        }

        >p:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
