@use 'sass:color';
@import '@/theme.scss';

.dashboard.component {
  margin: 1rem;

  >.header {
    .meta {
      .name {
        color: rgba($color-fg, 0.5);
      }

      .value {
        font-weight: 600;
        color: $color-5;
      }
    }

    .picc {
      .general {
        .type {
          font-size: 1.5rem;
          color: $color-3;
          font-weight: 600;
        }

        .metas {
          display: flex;
          margin-top: .5rem;

          .meta {
            &:not(:last-child) {
              margin-right: 1rem;
            }

            .name {
              margin-right: 1rem;
            }
          }
        }
      }

      .memory {
        margin-top: 0.5rem;
        color: rgba($color-fg, 0.5);
        font-size: 0.8rem;
      }
    }
  }

  >.main {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;

    >.section {
      &:not(:last-child) {
        margin-right: 1rem;
      }

      .info-panel {
        position: sticky;
        top: 1rem;
        color: $color-4;

        p.hint {
          color: $color-1;
          font-size: .9rem;
        }

        p:not(:last-child) {
          margin-bottom: 1.5rem;
        }

        >.target {
          ul:not(:first-child) {
            padding-left: 0.6rem;

            &,
            .item:not(:first-child) {
              margin-top: 0.1rem;
            }

            .item:first-child {
              >.name {
                position: relative;

                &::before {
                  position: absolute;
                  top: 0.3rem;
                  left: -0.6rem;
                  content: '└';
                  font-size: 0.8rem;
                  color: rgba($color-4, 0.5);
                }
              }
            }
          }

          .item {
            .value {
              margin-left: 1rem;
              color: $color-3;
            }
          }
        }
      }
    }
  }
}
