@use 'sass:color';
@import '@/theme.scss';

.target-byte-renderer.component {
  ul:not(:first-child) {
    padding-left: 0.5rem;

    &,
    .item:not(:first-child) {
      margin-top: 0.1rem;
    }

    .item:first-child {
      >:first-child {
        position: relative;

        &::before {
          position: absolute;
          top: 0.3rem;
          left: -0.6rem;
          content: '└';
          font-size: 0.8rem;
          color: rgba($color-4, 0.5);
        }
      }
    }
  }

  .item {
    .value {
      margin-left: 1rem;
      color: $color-5;
      font-weight: 600;
    }

    .name:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
