@use 'sass:color';
@import '@/theme.scss';

.ClientConfig {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type="text"] {
      font-size: .8rem;
      width: 16rem;
    }

    button[type="submit"] {
      margin-top: 1rem;
    }
  }
}
