@use 'sass:color';
@import '@/theme.scss';

.memory-sector-overlay.empty.component {
  cursor: pointer;
  color: color.adjust($color-fg, $blackness: +50%, $alpha: -0.8);
  transition: color .3s ease-in-out;

  &:hover {
    color: color.adjust($color-fg, $blackness: +50%);
  }
}
