@use 'sass:color';
@import '@/theme.scss';

.memory-sector-overlay.unlock.component {
  form {

    label,
    input,
    button {
      font-size: 0.7rem;
    }

    input[type=text],
    button {
      padding: 0.4rem 0.5rem;
    }

    input[type=text] {
      width: 6rem;
    }

    button[type="submit"] {
      margin-left: 0.5rem;
    }
  }
}
