@import '@/theme.scss';

.app {
  .enter {
    .title {
      font-size: 3rem;
      font-weight: 600;
      color: $color-5;
    }

    .subtitle {
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-4;
    }

    .connect {
      margin-top: 4rem;
    }

    .credits {
      margin-top: 4rem;
      color: rgba($color-fg, 0.5);
      opacity: 0.5;
    }
  }
}
