@import '@/theme.scss';

.app {
  .login {
    color: $color-4;

    .title {
      font-size: 3rem;
      font-weight: 600;
      color: $color-5;
    }

    .subtitle {
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
    }

    .enter {
      margin-top: 3.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn.connect {
        margin-bottom: 3rem;
      }

      .broker {
        color: $color-1;
        font-size: .7rem;

        .static {
          opacity: .5;
        }
      }

      .btn.edit {
        font-size: .6rem;
      }
    }

    .footer {
      margin-top: 4rem;
      font-size: .6rem;

      .credits {
        opacity: 0.5;
      }
    }
  }
}
