@use 'sass:color';
@import '@/theme.scss';

.app {
  .login {
    color: $color-4;

    .title {
      font-size: 3rem;
      font-weight: 600;
      color: $color-1
    }

    .subtitle {
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: color.adjust($color-1, $lightness: -25%);
    }

    .enter {
      margin-top: 3.5rem;

      >.connect {
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn.connect {
          margin-bottom: 3.5rem;
        }

        .broker {
          color: $color-5;
          font-size: .7rem;

          .static {
            opacity: .5;
          }
        }

        .btn.edit {
          font-size: .6rem;
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;
      font-size: .6rem;
      opacity: .6;

      .version {
        opacity: .7;
      }

      .copyright {
        font-size: .5rem;
        margin-top: .2rem;
      }
    }
  }
}
