@import url(https://fonts.bunny.net/css?family=jetbrains-mono:200,600);
@import './theme.scss';

:root {
  color: $color-fg;
  background-color: $color-bg;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
button {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 200;
  font-size: large;
}
