@import url(https://fonts.bunny.net/css?family=jetbrains-mono:200,600);
@import './theme.scss';

:root {
  color: $color-fg;
  background-color: $color-bg;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
button {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 200;
  font-size: large;
}

.app {
  margin: 1.5rem;
}

button {
  color: $color-3;
  background-color: $color-bg;
  border: 1px solid rgba($color-3, 0.3);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 0.3rem;

  &:hover {
    box-shadow: 0 0 0.3rem rgba($color-3, 0.3);
  }
}
