@import url(https://fonts.bunny.net/css?family=jetbrains-mono:200,600);
@import '@/theme.scss';

:root {
  color: $color-fg;
  background-color: $color-bg;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
:root button,
:root input,
:root label,
:root textarea {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 200;
  font-size: x-large;
}

a {
  color: $color-1;
  text-decoration: none;

  &:hover {
    color: $color-4;
  }
}

var {
  font-weight: 600 !important;
  color: $color-5;
}

abbr {
  text-decoration: none;
}

@mixin unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.unselectable {
  @include unselectable;
}

.full-screen {
  height: 100vh;
  width: 100vw;

  &.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba($color-bg, .5);
  }
}

.txt-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// {{ default vue transition
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

// }}
