$color-1: #71ece2;
$color-2: #aa76fd;
$color-3: #86f275;
$color-4: #fdf7bc;
$color-5: #ff90b7;
$color-bg: #242424;
$color-fg: #ffffff;

.color-1 {
  color: $color-1 !important;
}

.color-2 {
  color: $color-2 !important;
}

.color-3 {
  color: $color-3 !important;
}

.color-4 {
  color: $color-4 !important;
}

.color-5 {
  color: $color-5 !important;
}

.color-fg {
  color: $color-fg !important;
}
