CONFIG_EXAMPLE_WIFI_SSID="YOUR_WIFI_SSID_HERE"
CONFIG_EXAMPLE_WIFI_PASSWORD="YOUR_WIFI_PASSWORD_HERE"
CONFIG_NFCITY_MQTT_BROKER="wss://broker.emqx.io:8084/mqtt"
#CONFIG_NFCITY_MQTT_USE_CREDENTIALS=y
#CONFIG_NFCITY_MQTT_USERNAME="username"
#CONFIG_NFCITY_MQTT_PASSWORD="password"
